@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    color: $main-color;
  }
}

.title {
  color: $main-color;
  margin: 20px;
  text-align: center;
}



