@import '../../../styles/settings.scss';

// .root {
// }

.photo {
  width: 300px;
  height: 400px;
}

.button {
  color: $main-color;
  width: 100%;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

.cardClickableArea:hover {
  text-decoration: none;
  color: inherit;
}

.cardTitle {
  text-align: center;
  color: $main-color;
}

.cardBody {
  text-align: center;
  color: $secondary-color;
}
