@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  align-items: center;
}

.icon {
  color: $main-color;
  font-size: 40px;
  margin: 0 40px;

  &:hover {
    transform: scale(1.2);
  }
}

.link {
  text-decoration: none;
}

@media (max-width: $small) {
  .icon {
    font-size: 30px;
    margin: 0 20px;
  }
}
