@import '../../../styles/settings.scss';

// .root {
// }

.gridContainer {
  padding: 0 40px;
}

.title {
  color: $main-color;
  padding: 20px 20px;
  text-align: center;
}

.totalCostContainer {
  text-align: center;
  margin: 40px auto;
  color: $main-color;
}

.totalCost {
  font-weight: bold;
}

.button {
  color: $main-color;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

.buttonEmptyCartContainer {
  display: flex;
  justify-content: center;;
  margin-bottom: 30px;
}

.buttonsContainer {
  margin-bottom: 40px;;
}

.buttonHomepage {
  display: flex;
  justify-content: flex-start;
}

.buttonOrderSummary {
  display: flex;
  justify-content: flex-end;
}
