@import '../../../styles/settings.scss';

// .root {
// }

.title {
  padding-top: 10px;
  text-align: center;
}

.button {
  color: orange;
}

.button:hover {
  color: orange;
  text-decoration: none;
}
