@import '../../../styles/settings.scss';

.root {
  margin: 20px 20px;
}

.photo {
  margin: auto;
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.button {
  color: $main-color;
  width: 100%;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

.cardClickableArea:hover {
  text-decoration: none;
  color: inherit;
}

.cardBody, .cardTitle {
  text-align: center;
}

.cardTitle {
  color: $main-color;
}

.cardBody {
  color: $secondary-color;
}

@media (max-width: $small) {
  .root, .photo {
    width: 280px;
  }
}
