@import '../../../styles/settings.scss';

.root {
  margin: 10px;
  display: flex;
  align-items: center;
}

.counter {
  width: 100px;
}

.button {
  background: orange;
  margin: 5px;
  border-radius: 25%;
  width: 40px;
  height: 40px;
}

.button:hover {
  background: lighten(orange, 10%);
}

.icon {
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
