@import '../../../styles/settings.scss';

// .root {
// }

.commentField {
  width: 100%;
}

.button {
  color: orange;
}

.button:hover {
  color: orange;
  text-decoration: none;
}

.snackbar {
  background-color: yellow;
  color: orange;
}
