@import '../../../styles/settings.scss';

.root {
  width: 60%;
  margin: 30px auto;

  ol {
    li {
      background-color: $main-color;
    }
  }

  a {
    span {
      width: 40px;
      height: 40px;
      background-color: $main-color;
      border-radius: 25%;
    }
  }
}

