@import '../../../styles/settings.scss';

.root {
  margin: 30px auto;
  display: flex;
  align-items: center;
}

.counter {
  width: 100px;
}

.icon {
  color: $main-color;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
