@import '../../../styles/settings.scss';

 .root {
   color: $main-color;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .link {
   color: $main-color;
   text-decoration: none;

   &:hover {
     color: $main-color;
   }
 }

 .icon {
   font-size: 75px;
 }

 .title {
   font-size: 50px;
   margin: 0 15px;
 }
