@import '../../../styles/settings.scss';

 .root {
   color: $main-color;
   display: flex;
   align-items: center;
 }

 .link {
   color: $main-color;
   text-decoration: none;

   &:hover {
     color: $main-color;
     text-decoration: none;
   }
 }

 .icon {
   font-size: 75px;
 }

 .title {
   font-size: 50px;
   margin: 0 15px;
   font-family: cursive;
 }

 @media (max-width: $medium) {
  .icon {
    font-size: 60px;
  }

  .title {
    font-size: 30px;
    margin: 0;
  }
}

@media (max-width: $small) {
  .root {
    a:first-of-type {
      display: none;
    }
  }

  .title {
    font-size: 18px;
  }
}
