@import '../../../styles/settings.scss';

.root {
  display: flex;
  align-items: center;
  color: $main-color;
}

.link {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: $main-color;
  }
}

.icon {
  font-size: 50px;
}

.productCounter {
  font-size: 20px;
  font-weight: bold;
}
