@import '../../../styles/settings.scss';

// .root {
// }

.gridContainer {
  padding: 0 40px;
}

.title, .emptyTitle {
  color: $main-color;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
}

.emptyText {
  color: $main-color;
  text-align: center;
  margin-bottom: 30px;
}

.totalCostContainer {
  text-align: center;
  margin: 40px auto;
  color: $main-color;
}

.totalCost {
  padding: 10px 0;
  font-weight: bold;
  border-top: 1px solid $main-color;
  border-bottom: 1px solid $main-color;
}

.button {
  color: $main-color;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

.emptyCartButton {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.buttonsContainer {
  margin-bottom: 40px;
}

.buttonHomepage, .buttonOrderSummary {
  display: flex;
}

.buttonHomepage {
  justify-content: flex-start;
}

.buttonOrderSummary {
  justify-content: flex-end;
}

@media (max-width: $medium) {
  .emptyTitle {
    font-size: 3rem;
  }

  .emptyText {
    font-size: 2rem;
  }
}

@media (max-width: $small) {
  .gridContainer {
    padding: 0 5px;
  }

  .title {
    margin: 20px auto 0;
    font-size: 2rem;
  }

  .emptyTitle {
    font-size: 1.8rem;
  }

  .emptyText {
    font-size: 1rem;
  }

  .button{
    width: 100%;
    margin-bottom: 20px;
  }

  .totalCost {
    font-size: 1.8rem;
  }

  .buttonsContainer {
    margin-bottom: 0;
  }
}

@media (width: $small) {
  .buttonsContainer {
    display: block;
  }

  .buttonHomepage, .buttonOrderSummary {
    max-width: 100%
  }
}
