@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.formFieldFullWidth {
  width: 100%;
  margin: 10px 0;
}

.formFieldPartialWidth {
  margin: 10px 0;
}

.radioLegend {
  text-align: center;
  margin-top: 10px;
}

.radioButtons {
    span:first-of-type {
      color:$main-color;
    }
}
