@import '../../../styles/settings.scss';

.gridContainer {
  padding: 0 40px;
}

.title, .text {
  color: $main-color;
  text-align: center;
}

.title {
  margin: 20px auto;
  font-weight: bold;
}

.buttonContainer {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.button {
  color: $main-color;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

@media (max-width: $small) {
  .gridContainer {
    padding: 0 5px;
  }

  .title {
    margin: 20px auto 0;
    font-size: 5rem;
  }

  .buttonContainer {
    margin: 30px auto 0;
  }

  .button{
    width: 100%;
    margin-bottom: 5px;
  }

  .text {
    font-size: 2rem;
  }

  .textBottom {
    font-size: 1rem;
  }
}
