@import '../../../styles/settings.scss';

// .root {
// }

.gridContainer {
  padding: 0 40px;
}

.title {
  color: $main-color;
  margin: 20px auto;
  text-align: center;
}

.text {
  color: $main-color;
  text-align: center;
}

.buttonContainer {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.button {
  color: $main-color;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}
