@import '../../../styles/settings.scss';

.root {
  display: flex;
  align-items: center;
}

.link {
  color: orange;
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.icon {
  font-size: 50px;
}

.productCounter {
  color: orange;
  font-size: 20px;
  font-weight: bold;
}
