@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  align-items: center;
}

.icon {
  color: $main-color;
  font-size: 40px;
  margin: 0 40px;

  &:hover {
    transform: scale(1.2);
  }
}

.link {
  text-decoration: none;
}
