@import '../../../styles/settings.scss';

// .root {
// }

.tableHeader{
  font-weight: bold;
  color: $main-color;
}

.tableBodyCenter, .tableBodyEdge {
  color: $secondary-color;
}

.tableEdge {
  font-weight: bold;
}

.comment {
  word-break: break-word;
}

@media (max-width: $small) {
  .tableHeader, .tableBodyCenter, .tableBodyEdge {
    padding: 5px;
  }
}
