@import '../../../styles/settings.scss';

// .root {
// }

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: $main-color;
  font-size: 60px;
}

.imageContainer {
  width: 100%;
  height: 200px;
}

.image {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productName {
  color: $main-color;
}

.cartFormFields {
  // display: flex;
  // align-items: center;
}

.formFieldLine {
  display: flex;
  justify-content: center;
}

.priceContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  color: $main-color;
}

.commentField {
  width: 100%;
}




